# Gradle
.gradle/
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
build/

# Spring Boot
*.jar
*.war
*.log

# IDE
.idea/
*.iml
out/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*